// Settings

// Colors
$sideNavigation-primary:	 				$grayLight;
$sideNavigation-primaryLight:				$brownLight;
$sideNavigation-primaryDark: 				$grayDark;
$sideNavigation-secondary:	 				$red;

$header-secondary:			 				$grayDark;
$header-secondaryLight:			 			$brownLight;
$header-extra:								$teal;

$questionsAndAnswers-primary:				$red;
$questionsAndAnswers-secondary:	 			$brownLight;
$questionsAndAnswers-secondaryLight:	 	$grayLight;
$questionsAndAnswers-secondaryDark:			$brown;
$questionsAndAnswers-extra:					$teal;

// z-index
$zIndex-navigation: 						$zIndex-300;

// Font size
$fontSize-extraLarge:						20px;
$fontSize-large:							18px;
$fontSize-normal:							16px;
$fontSize-medium:							14px;
$fontSize-small:							12px;
$fontSize-extraSmall:						11px;