body {
	margin: 0 auto;
	width: 960px;
}

table {
	width: 100%;
	border-spacing: 0;
}
table td {
	padding: 0 10px;
	vertical-align: top;
	width: 50%;
	color: #5e5e5e;
	border-bottom: 1px solid #e3e3e3;
}

.resource-link {
	font-size: 0.875rem;
	color: #d3d3d3;
	text-decoration: underline;
	text-transform: italic;
}

/* Utilities */
.tabs {
	margin: 25px 0;
}
.tabs .tab {
    display: inline-block;
    width: 160px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    color: #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
}
.tabs .tab:hover,
.tabs .tab.active {
    color: black;
    border-bottom: 1px solid black;
}